# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Notice, that the "Number of sectors" is ignored on NOR.

# MTD device name	Device offset	Env. size	Flash sector size	Number of sectors
#/dev/mtd1		0x0000		0x4000		0x4000
#/dev/mtd2		0x0000		0x4000		0x4000

# NAND example
#/dev/mtd0		0x4000		0x4000		0x20000			2

# For Pioneer DJ iMX6 project.
# TYPE:      this value is compared with DIP switch on hardware
# DEVOFFSET: set same value with CONFIG_ENV_OFFSET in include/configs/mx6q_sabresd.h
# ENVSIZE:   set same value with CONFIG_ENV_SIZE   in include/configs/mx6q_sabresd.h

# SD for Pioneer DJ iMX6 project.
# TYPE	DEVNAME			DEVOFFSET	ENVSIZE		DEVESIZE		ENVSECTORS
SD		/dev/mmcblk0	0xC0000		0x2000		0x20000

# NAND for Pioneer DJ iMX6 project.
# TYPE	DEVNAME			DEVOFFSET	ENVSIZE		DEVESIZE		ENVSECTORS
#NAND	/dev/mtd0		0x300000	0x20000		0x20000			0x8
NAND	/dev/mtd2		0x0			0x20000		0x20000			0x8
